<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.sonyp.mapper.UserMapper">
    <!-- 自定义插入用户 -->
    <insert id="saveUser" parameterType="xyz.sonyp.domain.po.User">
        INSERT INTO `user` (
            `id`, `username`, `password`, `phone`, `info`, `balance`, `status`
        )
        VALUES (
                   #{id}, #{username}, #{password}, #{phone},
                   #{info}, #{balance}, #{status}
               );
    </insert>
    <!-- 自定义更新用户 -->
    <update id="updateUser" parameterType="xyz.sonyp.domain.po.User">
        UPDATE `user`
        <set>
            <if test="username != null">`username` = #{username},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="info != null">`info` = #{info},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="balance != null">`balance` = #{balance},</if>
            <if test="updatetime != null">`updatetime` = #{updatetime}</if>
        </set>
        WHERE `id` = #{id};
    </update>
    <!-- 删除用户：修正参数类型为 java.lang.Long -->
    <delete id="deleteUser" parameterType="java.lang.Long">
        DELETE FROM `user` WHERE `id` = #{id}
    </delete>
    <!-- 根据ID查询用户 -->
    <select id="queryUserById" resultType="xyz.sonyp.domain.po.User">
        SELECT * FROM `user` WHERE `id` = #{id}
    </select>
    <!-- 根据ID列表批量查询用户：修正参数名称为 ids -->
    <select id="queryAllUser" resultType="xyz.sonyp.domain.po.User">
        SELECT * FROM `user`
        <where>
            <if test="ids != null and !ids.isEmpty()">
                `id` IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        LIMIT 10
    </select>



    <!--半自动化操作需要用到的自定义SQL🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬🐬-->
    <update id="updateBalanceByIds">/*使用半自动化之后，这里就只用写前半部分了，where由MyBatisPlus写*/
        UPDATE user SET balance = balance - #{amount} ${ew.customSqlSegment}
    </update>




</mapper>